*
{
  margin:0;
  padding:0;
  font-family:verdana;

}
#main
{
  width:100%;
  height:600px;
  background-image: url("hii.jpg");
  background-repeat: no-repeat;
background-size: cover;
}
.id2
{
  color:white;
  margin-top: 130px;
  margin-left:150px;
  font-size:45px;
}
nav
{
  width:100%;
  height:80px;
  background-color:#0008;
  line-height: 80px;
opacity:0.9;

}
nav ul
{
  float:right;
  margin-right:30px;
}
nav ul li{
  list-style-type: none;
  display:inline-block;
  transition: 0.8s all;
}
nav ul li a{
  text-decoration: none;
  color:white;
  padding:30px;

}
nav ul li:hover
{
  background-color: orange;

}
.home
{
  margin-top:50px;
  position:absolute;

}
.content
{
  margin-top:50px;
  background-color: black;
 margin-left:607px;
 width:740px;
  position: absolute;
  height:407.50000px;
  color:white;
}
.home1
{
position:absolute;
margin-top: 490px;
background-color: #000080;
height:495px;
width:730px;
color:orange;

}
.content1
{

  margin-top: 490px;
  margin-left:730px;
  position: absolute;
}
.home2
{
  margin-top:1050px;
  position: absolute;
  margin-left=300px;
  padding:30px;

}
.content2
{
  margin-top:1050px;
  margin-left: 500px;
  width:60px;
  padding:30px;
  position: absolute;

}
.content3
{
  margin-top:1050px;
  margin-left: 900px;
  width:60px;
  padding:30px;
  position: absolute;

}
.home3
{
  margin-top:1200px;
  position: absolute;
  width:100px;
  margin-left=300px;
  margin-right: 300px;
  padding:30px;
}
.content3
{
  margin-top:1050px;
  margin-left: 500px;
  width:60px;
  padding:30px;
  position: absolute;
}
.content3
{
  margin-top:1050px;
  margin-left: 900px;
  width:60px;
  padding:30px;
  position: absolute;
}
.badminton{
  position:absolute;
  margin-top:1330px;
  margin-left:30px;

  color:grey;
  height:300px;
width:290px;
opacity:0.9;
size:2px;
}

.basketball{
  position: absolute;
  margin-top: 1360px;
  margin-left: 530px;

  color:grey;
  height:300px;
width:290px;
opacity:0.9;
size:2px;
}
.football{
  position: absolute;
  margin-top: 1330px;
  margin-left: 940px;

  color:grey;
  height:300px;
width:290px;
opacity:0.9;
size:2px;
}

#id1
{
  border-radius: 50%;
  align:center;
   margin-right: 20px;
   margint-top:1800
}

.test
{
  margin-top:1790px;
  position: absolute;
  margin-left:60px;
  background-color:aqua;
  width:100px;
    height:300px;
    padding:0 110px;
    border-radius:45%;
text-align:center;
}
.test1
{
  margin-top:1790px;
  position: absolute;
  margin-left:510px;
  background-color:aqua;
width:100px;
height:300px;
border-radius:45%;

  padding:0 110px;

}
.test2
{
  margin-top:1790px;
  position: absolute;
  margin-left:920px;
  background-color:aqua;
  width:100px;
  height:300px;
  padding:0 120px;
  border-radius:45%;
}
.contacting
{
  width:100%;
  height:190px;
  background-color: #0009;
  margin-top:2200px;
  position:absolute;

}

.email1
{
  margin-left:110px;
  padding:1px 1px;
}
